@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-R.eot?") format("eot"), url("../fonts/Ubuntu-R.woff") format("woff"), url("../fonts/Ubuntu-R.ttf") format("truetype"), url("../fonts/Ubuntu-R.svg#Ubuntu-R") format("svg");
}
/* line 5, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/base/_grid.scss */
.span1 {
  width: 3.20641%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span2 {
  width: 7.41483%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span3 {
  width: 11.62325%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span4 {
  width: 15.83166%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span5 {
  width: 20.04008%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span6 {
  width: 24.2485%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span7 {
  width: 28.45691%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span8 {
  width: 32.66533%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span9 {
  width: 36.87375%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span10 {
  width: 41.08216%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span11 {
  width: 45.29058%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span12 {
  width: 49.499%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span13 {
  width: 53.70741%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span14 {
  width: 57.91583%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span15 {
  width: 62.12425%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span16 {
  width: 66.33267%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span17 {
  width: 70.54108%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span18 {
  width: 74.7495%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span19 {
  width: 78.95792%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span20 {
  width: 83.16633%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span21 {
  width: 87.37475%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span22 {
  width: 91.58317%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span23 {
  width: 95.79158%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 4, ../sass/base/_grid.scss */
.span24 {
  width: 100%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 8, ../sass/base/_grid.scss */
.offset1 {
  margin-left: 4.20842%;
}

/* line 8, ../sass/base/_grid.scss */
.offset2 {
  margin-left: 8.41683%;
}

/* line 8, ../sass/base/_grid.scss */
.offset3 {
  margin-left: 12.62525%;
}

/* line 8, ../sass/base/_grid.scss */
.offset4 {
  margin-left: 16.83367%;
}

/* line 8, ../sass/base/_grid.scss */
.offset5 {
  margin-left: 21.04208%;
}

/* line 8, ../sass/base/_grid.scss */
.offset6 {
  margin-left: 25.2505%;
}

/* line 8, ../sass/base/_grid.scss */
.offset7 {
  margin-left: 29.45892%;
}

/* line 8, ../sass/base/_grid.scss */
.offset8 {
  margin-left: 33.66733%;
}

/* line 8, ../sass/base/_grid.scss */
.offset9 {
  margin-left: 37.87575%;
}

/* line 8, ../sass/base/_grid.scss */
.offset10 {
  margin-left: 42.08417%;
}

/* line 8, ../sass/base/_grid.scss */
.offset11 {
  margin-left: 46.29259%;
}

/* line 8, ../sass/base/_grid.scss */
.offset12 {
  margin-left: 50.501%;
}

/* line 8, ../sass/base/_grid.scss */
.offset13 {
  margin-left: 54.70942%;
}

/* line 8, ../sass/base/_grid.scss */
.offset14 {
  margin-left: 58.91784%;
}

/* line 8, ../sass/base/_grid.scss */
.offset15 {
  margin-left: 63.12625%;
}

/* line 8, ../sass/base/_grid.scss */
.offset16 {
  margin-left: 67.33467%;
}

/* line 8, ../sass/base/_grid.scss */
.offset17 {
  margin-left: 71.54309%;
}

/* line 8, ../sass/base/_grid.scss */
.offset18 {
  margin-left: 75.7515%;
}

/* line 8, ../sass/base/_grid.scss */
.offset19 {
  margin-left: 79.95992%;
}

/* line 8, ../sass/base/_grid.scss */
.offset20 {
  margin-left: 84.16834%;
}

/* line 8, ../sass/base/_grid.scss */
.offset21 {
  margin-left: 88.37675%;
}

/* line 8, ../sass/base/_grid.scss */
.offset22 {
  margin-left: 92.58517%;
}

/* line 8, ../sass/base/_grid.scss */
.offset23 {
  margin-left: 96.79359%;
}

/* line 8, ../sass/base/_grid.scss */
.offset24 {
  margin-left: 101.002%;
}

/* line 11, ../sass/base/_grid.scss */
.omega {
  float: right;
  margin-right: 0;
  *margin-left: -10px;
  display: inline;
}

/* line 15, ../sass/base/_grid.scss */
.endrow {
  display: inline;
  margin-right: 0;
}

/* line 1, ../sass/base/_typography.scss */
html {
  font-size: 13px;
}

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Ubuntu";
  color: #333333;
  line-height: 1.5em;
}

/* line 7, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.6em 0;
}

/* line 11, ../sass/base/_typography.scss */
h1 {
  font-size: 1.92541rem;
}

/* line 14, ../sass/base/_typography.scss */
h2 {
  font-size: 1.68896rem;
}

/* line 17, ../sass/base/_typography.scss */
h3 {
  font-size: 1.48154rem;
}

/* line 20, ../sass/base/_typography.scss */
h4 {
  font-size: 1.2996rem;
}

/* line 23, ../sass/base/_typography.scss */
h5 {
  font-size: 1.14rem;
}

/* line 26, ../sass/base/_typography.scss */
h6 {
  font-size: 1rem;
}

/* line 30, ../sass/base/_typography.scss */
p {
  font-size: 1rem;
  text-align: justify;
}

/* line 35, ../sass/base/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 36, ../sass/base/_typography.scss */
i, em {
  font-style: italic;
}

/* line 38, ../sass/base/_typography.scss */
a {
  color: #0088cc;
}
/* line 40, ../sass/base/_typography.scss */
a:hover {
  color: #005580;
}

/* line 44, ../sass/base/_typography.scss */
img {
  max-width: 100%;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

/* line 50, ../sass/base/_typography.scss */
ul {
  margin: 0.76923rem;
}

/* line 51, ../sass/base/_typography.scss */
li {
  list-style-type: disc;
}

/* line 53, ../sass/base/_typography.scss */
.svg-image {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

/* line 1, ../sass/modules/_dm_widgets.scss */
.pager {
  text-align: center;
}
/* line 3, ../sass/modules/_dm_widgets.scss */
.pager ul {
  margin: 0;
  padding: 0;
}
/* line 4, ../sass/modules/_dm_widgets.scss */
.pager li {
  display: inline-block;
  margin: 0.30769rem;
}

/* line 7, ../sass/modules/_dm_widgets.scss */
.navigation_bread_crumb li {
  display: inline-block;
  margin: 0.30769rem;
}

/* line 22, ../sass/modules/_menu.scss */
.main_menu {
  text-align: left;
}
/* line 21, ../sass/mixins/_default.scss */
.main_menu ul, .main_menu li, .main_menu a, .main_menu span {
  outline: none;
}
/* line 22, ../sass/mixins/_default.scss */
.main_menu .first a.dm_parent, .main_menu .first span.dm_parent {
  color: #333333;
  height: auto;
  display: inline-block;
  background: #333333;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 31, ../sass/mixins/_default.scss */
.main_menu .first a.dm_parent:hover, .main_menu .first span.dm_parent:hover {
  color: white;
  height: auto;
  display: inline-block;
  background: #333333;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 41, ../sass/mixins/_default.scss */
.main_menu a.dm_current, .main_menu span.dm_current, .main_menu a.dm_parent, .main_menu span.dm_parent {
  color: white;
  height: auto;
  display: inline-block;
  background: #333333;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 50, ../sass/mixins/_default.scss */
.main_menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 57, ../sass/mixins/_default.scss */
.main_menu ul li {
  float: left;
}
/* line 63, ../sass/mixins/_default.scss */
.main_menu ul li {
  margin: 0;
  list-style: none;
}
/* line 80, ../sass/mixins/_default.scss */
.main_menu ul li a {
  padding: 0;
  height: auto;
  font-family: "Ubuntu";
  display: inline-block;
  color: #333333;
  background: white;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
}
/* line 91, ../sass/mixins/_default.scss */
.main_menu ul li a:hover {
  color: white;
  background: #333333;
}
/* line 95, ../sass/mixins/_default.scss */
.main_menu ul li span {
  font-family: "Ubuntu";
}

@media (min-width: 800px) {
  /* line 4, ../sass/layouts/_default.scss */
  .global .dm_layout {
    *zoom: 1;
    max-width: 998px;
    max-width: 76.76923rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 3.20641%, rgba(0, 0, 0, 0) 3.20641%, rgba(0, 0, 0, 0) 4.20842%, rgba(121, 121, 229, 0.25) 4.20842%, rgba(79, 79, 221, 0.25) 7.41483%, rgba(0, 0, 0, 0) 7.41483%, rgba(0, 0, 0, 0) 8.41683%, rgba(121, 121, 229, 0.25) 8.41683%, rgba(79, 79, 221, 0.25) 11.62325%, rgba(0, 0, 0, 0) 11.62325%, rgba(0, 0, 0, 0) 12.62525%, rgba(121, 121, 229, 0.25) 12.62525%, rgba(79, 79, 221, 0.25) 15.83166%, rgba(0, 0, 0, 0) 15.83166%, rgba(0, 0, 0, 0) 16.83367%, rgba(121, 121, 229, 0.25) 16.83367%, rgba(79, 79, 221, 0.25) 20.04008%, rgba(0, 0, 0, 0) 20.04008%, rgba(0, 0, 0, 0) 21.04208%, rgba(121, 121, 229, 0.25) 21.04208%, rgba(79, 79, 221, 0.25) 24.2485%, rgba(0, 0, 0, 0) 24.2485%, rgba(0, 0, 0, 0) 25.2505%, rgba(121, 121, 229, 0.25) 25.2505%, rgba(79, 79, 221, 0.25) 28.45691%, rgba(0, 0, 0, 0) 28.45691%, rgba(0, 0, 0, 0) 29.45892%, rgba(121, 121, 229, 0.25) 29.45892%, rgba(79, 79, 221, 0.25) 32.66533%, rgba(0, 0, 0, 0) 32.66533%, rgba(0, 0, 0, 0) 33.66733%, rgba(121, 121, 229, 0.25) 33.66733%, rgba(79, 79, 221, 0.25) 36.87375%, rgba(0, 0, 0, 0) 36.87375%, rgba(0, 0, 0, 0) 37.87575%, rgba(121, 121, 229, 0.25) 37.87575%, rgba(79, 79, 221, 0.25) 41.08216%, rgba(0, 0, 0, 0) 41.08216%, rgba(0, 0, 0, 0) 42.08417%, rgba(121, 121, 229, 0.25) 42.08417%, rgba(79, 79, 221, 0.25) 45.29058%, rgba(0, 0, 0, 0) 45.29058%, rgba(0, 0, 0, 0) 46.29259%, rgba(121, 121, 229, 0.25) 46.29259%, rgba(79, 79, 221, 0.25) 49.499%, rgba(0, 0, 0, 0) 49.499%, rgba(0, 0, 0, 0) 50.501%, rgba(121, 121, 229, 0.25) 50.501%, rgba(79, 79, 221, 0.25) 53.70741%, rgba(0, 0, 0, 0) 53.70741%, rgba(0, 0, 0, 0) 54.70942%, rgba(121, 121, 229, 0.25) 54.70942%, rgba(79, 79, 221, 0.25) 57.91583%, rgba(0, 0, 0, 0) 57.91583%, rgba(0, 0, 0, 0) 58.91784%, rgba(121, 121, 229, 0.25) 58.91784%, rgba(79, 79, 221, 0.25) 62.12425%, rgba(0, 0, 0, 0) 62.12425%, rgba(0, 0, 0, 0) 63.12625%, rgba(121, 121, 229, 0.25) 63.12625%, rgba(79, 79, 221, 0.25) 66.33267%, rgba(0, 0, 0, 0) 66.33267%, rgba(0, 0, 0, 0) 67.33467%, rgba(121, 121, 229, 0.25) 67.33467%, rgba(79, 79, 221, 0.25) 70.54108%, rgba(0, 0, 0, 0) 70.54108%, rgba(0, 0, 0, 0) 71.54309%, rgba(121, 121, 229, 0.25) 71.54309%, rgba(79, 79, 221, 0.25) 74.7495%, rgba(0, 0, 0, 0) 74.7495%, rgba(0, 0, 0, 0) 75.7515%, rgba(121, 121, 229, 0.25) 75.7515%, rgba(79, 79, 221, 0.25) 78.95792%, rgba(0, 0, 0, 0) 78.95792%, rgba(0, 0, 0, 0) 79.95992%, rgba(121, 121, 229, 0.25) 79.95992%, rgba(79, 79, 221, 0.25) 83.16633%, rgba(0, 0, 0, 0) 83.16633%, rgba(0, 0, 0, 0) 84.16834%, rgba(121, 121, 229, 0.25) 84.16834%, rgba(79, 79, 221, 0.25) 87.37475%, rgba(0, 0, 0, 0) 87.37475%, rgba(0, 0, 0, 0) 88.37675%, rgba(121, 121, 229, 0.25) 88.37675%, rgba(79, 79, 221, 0.25) 91.58317%, rgba(0, 0, 0, 0) 91.58317%, rgba(0, 0, 0, 0) 92.58517%, rgba(121, 121, 229, 0.25) 92.58517%, rgba(79, 79, 221, 0.25) 95.79158%, rgba(0, 0, 0, 0) 95.79158%, rgba(0, 0, 0, 0) 96.79359%, rgba(121, 121, 229, 0.25) 96.79359%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 3.20641%, rgba(0, 0, 0, 0) 3.20641%, rgba(0, 0, 0, 0) 4.20842%, rgba(121, 121, 229, 0.25) 4.20842%, rgba(79, 79, 221, 0.25) 7.41483%, rgba(0, 0, 0, 0) 7.41483%, rgba(0, 0, 0, 0) 8.41683%, rgba(121, 121, 229, 0.25) 8.41683%, rgba(79, 79, 221, 0.25) 11.62325%, rgba(0, 0, 0, 0) 11.62325%, rgba(0, 0, 0, 0) 12.62525%, rgba(121, 121, 229, 0.25) 12.62525%, rgba(79, 79, 221, 0.25) 15.83166%, rgba(0, 0, 0, 0) 15.83166%, rgba(0, 0, 0, 0) 16.83367%, rgba(121, 121, 229, 0.25) 16.83367%, rgba(79, 79, 221, 0.25) 20.04008%, rgba(0, 0, 0, 0) 20.04008%, rgba(0, 0, 0, 0) 21.04208%, rgba(121, 121, 229, 0.25) 21.04208%, rgba(79, 79, 221, 0.25) 24.2485%, rgba(0, 0, 0, 0) 24.2485%, rgba(0, 0, 0, 0) 25.2505%, rgba(121, 121, 229, 0.25) 25.2505%, rgba(79, 79, 221, 0.25) 28.45691%, rgba(0, 0, 0, 0) 28.45691%, rgba(0, 0, 0, 0) 29.45892%, rgba(121, 121, 229, 0.25) 29.45892%, rgba(79, 79, 221, 0.25) 32.66533%, rgba(0, 0, 0, 0) 32.66533%, rgba(0, 0, 0, 0) 33.66733%, rgba(121, 121, 229, 0.25) 33.66733%, rgba(79, 79, 221, 0.25) 36.87375%, rgba(0, 0, 0, 0) 36.87375%, rgba(0, 0, 0, 0) 37.87575%, rgba(121, 121, 229, 0.25) 37.87575%, rgba(79, 79, 221, 0.25) 41.08216%, rgba(0, 0, 0, 0) 41.08216%, rgba(0, 0, 0, 0) 42.08417%, rgba(121, 121, 229, 0.25) 42.08417%, rgba(79, 79, 221, 0.25) 45.29058%, rgba(0, 0, 0, 0) 45.29058%, rgba(0, 0, 0, 0) 46.29259%, rgba(121, 121, 229, 0.25) 46.29259%, rgba(79, 79, 221, 0.25) 49.499%, rgba(0, 0, 0, 0) 49.499%, rgba(0, 0, 0, 0) 50.501%, rgba(121, 121, 229, 0.25) 50.501%, rgba(79, 79, 221, 0.25) 53.70741%, rgba(0, 0, 0, 0) 53.70741%, rgba(0, 0, 0, 0) 54.70942%, rgba(121, 121, 229, 0.25) 54.70942%, rgba(79, 79, 221, 0.25) 57.91583%, rgba(0, 0, 0, 0) 57.91583%, rgba(0, 0, 0, 0) 58.91784%, rgba(121, 121, 229, 0.25) 58.91784%, rgba(79, 79, 221, 0.25) 62.12425%, rgba(0, 0, 0, 0) 62.12425%, rgba(0, 0, 0, 0) 63.12625%, rgba(121, 121, 229, 0.25) 63.12625%, rgba(79, 79, 221, 0.25) 66.33267%, rgba(0, 0, 0, 0) 66.33267%, rgba(0, 0, 0, 0) 67.33467%, rgba(121, 121, 229, 0.25) 67.33467%, rgba(79, 79, 221, 0.25) 70.54108%, rgba(0, 0, 0, 0) 70.54108%, rgba(0, 0, 0, 0) 71.54309%, rgba(121, 121, 229, 0.25) 71.54309%, rgba(79, 79, 221, 0.25) 74.7495%, rgba(0, 0, 0, 0) 74.7495%, rgba(0, 0, 0, 0) 75.7515%, rgba(121, 121, 229, 0.25) 75.7515%, rgba(79, 79, 221, 0.25) 78.95792%, rgba(0, 0, 0, 0) 78.95792%, rgba(0, 0, 0, 0) 79.95992%, rgba(121, 121, 229, 0.25) 79.95992%, rgba(79, 79, 221, 0.25) 83.16633%, rgba(0, 0, 0, 0) 83.16633%, rgba(0, 0, 0, 0) 84.16834%, rgba(121, 121, 229, 0.25) 84.16834%, rgba(79, 79, 221, 0.25) 87.37475%, rgba(0, 0, 0, 0) 87.37475%, rgba(0, 0, 0, 0) 88.37675%, rgba(121, 121, 229, 0.25) 88.37675%, rgba(79, 79, 221, 0.25) 91.58317%, rgba(0, 0, 0, 0) 91.58317%, rgba(0, 0, 0, 0) 92.58517%, rgba(121, 121, 229, 0.25) 92.58517%, rgba(79, 79, 221, 0.25) 95.79158%, rgba(0, 0, 0, 0) 95.79158%, rgba(0, 0, 0, 0) 96.79359%, rgba(121, 121, 229, 0.25) 96.79359%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 3.20641%, rgba(0, 0, 0, 0) 3.20641%, rgba(0, 0, 0, 0) 4.20842%, rgba(121, 121, 229, 0.25) 4.20842%, rgba(79, 79, 221, 0.25) 7.41483%, rgba(0, 0, 0, 0) 7.41483%, rgba(0, 0, 0, 0) 8.41683%, rgba(121, 121, 229, 0.25) 8.41683%, rgba(79, 79, 221, 0.25) 11.62325%, rgba(0, 0, 0, 0) 11.62325%, rgba(0, 0, 0, 0) 12.62525%, rgba(121, 121, 229, 0.25) 12.62525%, rgba(79, 79, 221, 0.25) 15.83166%, rgba(0, 0, 0, 0) 15.83166%, rgba(0, 0, 0, 0) 16.83367%, rgba(121, 121, 229, 0.25) 16.83367%, rgba(79, 79, 221, 0.25) 20.04008%, rgba(0, 0, 0, 0) 20.04008%, rgba(0, 0, 0, 0) 21.04208%, rgba(121, 121, 229, 0.25) 21.04208%, rgba(79, 79, 221, 0.25) 24.2485%, rgba(0, 0, 0, 0) 24.2485%, rgba(0, 0, 0, 0) 25.2505%, rgba(121, 121, 229, 0.25) 25.2505%, rgba(79, 79, 221, 0.25) 28.45691%, rgba(0, 0, 0, 0) 28.45691%, rgba(0, 0, 0, 0) 29.45892%, rgba(121, 121, 229, 0.25) 29.45892%, rgba(79, 79, 221, 0.25) 32.66533%, rgba(0, 0, 0, 0) 32.66533%, rgba(0, 0, 0, 0) 33.66733%, rgba(121, 121, 229, 0.25) 33.66733%, rgba(79, 79, 221, 0.25) 36.87375%, rgba(0, 0, 0, 0) 36.87375%, rgba(0, 0, 0, 0) 37.87575%, rgba(121, 121, 229, 0.25) 37.87575%, rgba(79, 79, 221, 0.25) 41.08216%, rgba(0, 0, 0, 0) 41.08216%, rgba(0, 0, 0, 0) 42.08417%, rgba(121, 121, 229, 0.25) 42.08417%, rgba(79, 79, 221, 0.25) 45.29058%, rgba(0, 0, 0, 0) 45.29058%, rgba(0, 0, 0, 0) 46.29259%, rgba(121, 121, 229, 0.25) 46.29259%, rgba(79, 79, 221, 0.25) 49.499%, rgba(0, 0, 0, 0) 49.499%, rgba(0, 0, 0, 0) 50.501%, rgba(121, 121, 229, 0.25) 50.501%, rgba(79, 79, 221, 0.25) 53.70741%, rgba(0, 0, 0, 0) 53.70741%, rgba(0, 0, 0, 0) 54.70942%, rgba(121, 121, 229, 0.25) 54.70942%, rgba(79, 79, 221, 0.25) 57.91583%, rgba(0, 0, 0, 0) 57.91583%, rgba(0, 0, 0, 0) 58.91784%, rgba(121, 121, 229, 0.25) 58.91784%, rgba(79, 79, 221, 0.25) 62.12425%, rgba(0, 0, 0, 0) 62.12425%, rgba(0, 0, 0, 0) 63.12625%, rgba(121, 121, 229, 0.25) 63.12625%, rgba(79, 79, 221, 0.25) 66.33267%, rgba(0, 0, 0, 0) 66.33267%, rgba(0, 0, 0, 0) 67.33467%, rgba(121, 121, 229, 0.25) 67.33467%, rgba(79, 79, 221, 0.25) 70.54108%, rgba(0, 0, 0, 0) 70.54108%, rgba(0, 0, 0, 0) 71.54309%, rgba(121, 121, 229, 0.25) 71.54309%, rgba(79, 79, 221, 0.25) 74.7495%, rgba(0, 0, 0, 0) 74.7495%, rgba(0, 0, 0, 0) 75.7515%, rgba(121, 121, 229, 0.25) 75.7515%, rgba(79, 79, 221, 0.25) 78.95792%, rgba(0, 0, 0, 0) 78.95792%, rgba(0, 0, 0, 0) 79.95992%, rgba(121, 121, 229, 0.25) 79.95992%, rgba(79, 79, 221, 0.25) 83.16633%, rgba(0, 0, 0, 0) 83.16633%, rgba(0, 0, 0, 0) 84.16834%, rgba(121, 121, 229, 0.25) 84.16834%, rgba(79, 79, 221, 0.25) 87.37475%, rgba(0, 0, 0, 0) 87.37475%, rgba(0, 0, 0, 0) 88.37675%, rgba(121, 121, 229, 0.25) 88.37675%, rgba(79, 79, 221, 0.25) 91.58317%, rgba(0, 0, 0, 0) 91.58317%, rgba(0, 0, 0, 0) 92.58517%, rgba(121, 121, 229, 0.25) 92.58517%, rgba(79, 79, 221, 0.25) 95.79158%, rgba(0, 0, 0, 0) 95.79158%, rgba(0, 0, 0, 0) 96.79359%, rgba(121, 121, 229, 0.25) 96.79359%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -moz-background-origin: content;
    -o-background-origin: content-box;
    -webkit-background-origin: content;
    background-origin: content-box;
    -moz-background-clip: content;
    -o-background-clip: content-box;
    -webkit-background-clip: content;
    background-clip: content-box;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  .global .dm_layout:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 13, ../sass/layouts/_default.scss */
  .global .dm_page_content {
    width: 66.33267%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 17, ../sass/layouts/_default.scss */
  .global .dm_layout_left {
    width: 15.83166%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 20, ../sass/layouts/_default.scss */
  .global .dm_layout_right {
    width: 15.83166%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 0px) and (max-width: 799px) {
  /* line 31, ../sass/layouts/_default.scss */
  .global .dm_layout {
    *zoom: 1;
    max-width: 494px;
    max-width: 38rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.47773%, rgba(0, 0, 0, 0) 6.47773%, rgba(0, 0, 0, 0) 8.50202%, rgba(121, 121, 229, 0.25) 8.50202%, rgba(79, 79, 221, 0.25) 14.97976%, rgba(0, 0, 0, 0) 14.97976%, rgba(0, 0, 0, 0) 17.00405%, rgba(121, 121, 229, 0.25) 17.00405%, rgba(79, 79, 221, 0.25) 23.48178%, rgba(0, 0, 0, 0) 23.48178%, rgba(0, 0, 0, 0) 25.50607%, rgba(121, 121, 229, 0.25) 25.50607%, rgba(79, 79, 221, 0.25) 31.98381%, rgba(0, 0, 0, 0) 31.98381%, rgba(0, 0, 0, 0) 34.0081%, rgba(121, 121, 229, 0.25) 34.0081%, rgba(79, 79, 221, 0.25) 40.48583%, rgba(0, 0, 0, 0) 40.48583%, rgba(0, 0, 0, 0) 42.51012%, rgba(121, 121, 229, 0.25) 42.51012%, rgba(79, 79, 221, 0.25) 48.98785%, rgba(0, 0, 0, 0) 48.98785%, rgba(0, 0, 0, 0) 51.01215%, rgba(121, 121, 229, 0.25) 51.01215%, rgba(79, 79, 221, 0.25) 57.48988%, rgba(0, 0, 0, 0) 57.48988%, rgba(0, 0, 0, 0) 59.51417%, rgba(121, 121, 229, 0.25) 59.51417%, rgba(79, 79, 221, 0.25) 65.9919%, rgba(0, 0, 0, 0) 65.9919%, rgba(0, 0, 0, 0) 68.01619%, rgba(121, 121, 229, 0.25) 68.01619%, rgba(79, 79, 221, 0.25) 74.49393%, rgba(0, 0, 0, 0) 74.49393%, rgba(0, 0, 0, 0) 76.51822%, rgba(121, 121, 229, 0.25) 76.51822%, rgba(79, 79, 221, 0.25) 82.99595%, rgba(0, 0, 0, 0) 82.99595%, rgba(0, 0, 0, 0) 85.02024%, rgba(121, 121, 229, 0.25) 85.02024%, rgba(79, 79, 221, 0.25) 91.49798%, rgba(0, 0, 0, 0) 91.49798%, rgba(0, 0, 0, 0) 93.52227%, rgba(121, 121, 229, 0.25) 93.52227%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.47773%, rgba(0, 0, 0, 0) 6.47773%, rgba(0, 0, 0, 0) 8.50202%, rgba(121, 121, 229, 0.25) 8.50202%, rgba(79, 79, 221, 0.25) 14.97976%, rgba(0, 0, 0, 0) 14.97976%, rgba(0, 0, 0, 0) 17.00405%, rgba(121, 121, 229, 0.25) 17.00405%, rgba(79, 79, 221, 0.25) 23.48178%, rgba(0, 0, 0, 0) 23.48178%, rgba(0, 0, 0, 0) 25.50607%, rgba(121, 121, 229, 0.25) 25.50607%, rgba(79, 79, 221, 0.25) 31.98381%, rgba(0, 0, 0, 0) 31.98381%, rgba(0, 0, 0, 0) 34.0081%, rgba(121, 121, 229, 0.25) 34.0081%, rgba(79, 79, 221, 0.25) 40.48583%, rgba(0, 0, 0, 0) 40.48583%, rgba(0, 0, 0, 0) 42.51012%, rgba(121, 121, 229, 0.25) 42.51012%, rgba(79, 79, 221, 0.25) 48.98785%, rgba(0, 0, 0, 0) 48.98785%, rgba(0, 0, 0, 0) 51.01215%, rgba(121, 121, 229, 0.25) 51.01215%, rgba(79, 79, 221, 0.25) 57.48988%, rgba(0, 0, 0, 0) 57.48988%, rgba(0, 0, 0, 0) 59.51417%, rgba(121, 121, 229, 0.25) 59.51417%, rgba(79, 79, 221, 0.25) 65.9919%, rgba(0, 0, 0, 0) 65.9919%, rgba(0, 0, 0, 0) 68.01619%, rgba(121, 121, 229, 0.25) 68.01619%, rgba(79, 79, 221, 0.25) 74.49393%, rgba(0, 0, 0, 0) 74.49393%, rgba(0, 0, 0, 0) 76.51822%, rgba(121, 121, 229, 0.25) 76.51822%, rgba(79, 79, 221, 0.25) 82.99595%, rgba(0, 0, 0, 0) 82.99595%, rgba(0, 0, 0, 0) 85.02024%, rgba(121, 121, 229, 0.25) 85.02024%, rgba(79, 79, 221, 0.25) 91.49798%, rgba(0, 0, 0, 0) 91.49798%, rgba(0, 0, 0, 0) 93.52227%, rgba(121, 121, 229, 0.25) 93.52227%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.47773%, rgba(0, 0, 0, 0) 6.47773%, rgba(0, 0, 0, 0) 8.50202%, rgba(121, 121, 229, 0.25) 8.50202%, rgba(79, 79, 221, 0.25) 14.97976%, rgba(0, 0, 0, 0) 14.97976%, rgba(0, 0, 0, 0) 17.00405%, rgba(121, 121, 229, 0.25) 17.00405%, rgba(79, 79, 221, 0.25) 23.48178%, rgba(0, 0, 0, 0) 23.48178%, rgba(0, 0, 0, 0) 25.50607%, rgba(121, 121, 229, 0.25) 25.50607%, rgba(79, 79, 221, 0.25) 31.98381%, rgba(0, 0, 0, 0) 31.98381%, rgba(0, 0, 0, 0) 34.0081%, rgba(121, 121, 229, 0.25) 34.0081%, rgba(79, 79, 221, 0.25) 40.48583%, rgba(0, 0, 0, 0) 40.48583%, rgba(0, 0, 0, 0) 42.51012%, rgba(121, 121, 229, 0.25) 42.51012%, rgba(79, 79, 221, 0.25) 48.98785%, rgba(0, 0, 0, 0) 48.98785%, rgba(0, 0, 0, 0) 51.01215%, rgba(121, 121, 229, 0.25) 51.01215%, rgba(79, 79, 221, 0.25) 57.48988%, rgba(0, 0, 0, 0) 57.48988%, rgba(0, 0, 0, 0) 59.51417%, rgba(121, 121, 229, 0.25) 59.51417%, rgba(79, 79, 221, 0.25) 65.9919%, rgba(0, 0, 0, 0) 65.9919%, rgba(0, 0, 0, 0) 68.01619%, rgba(121, 121, 229, 0.25) 68.01619%, rgba(79, 79, 221, 0.25) 74.49393%, rgba(0, 0, 0, 0) 74.49393%, rgba(0, 0, 0, 0) 76.51822%, rgba(121, 121, 229, 0.25) 76.51822%, rgba(79, 79, 221, 0.25) 82.99595%, rgba(0, 0, 0, 0) 82.99595%, rgba(0, 0, 0, 0) 85.02024%, rgba(121, 121, 229, 0.25) 85.02024%, rgba(79, 79, 221, 0.25) 91.49798%, rgba(0, 0, 0, 0) 91.49798%, rgba(0, 0, 0, 0) 93.52227%, rgba(121, 121, 229, 0.25) 93.52227%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -moz-background-origin: content;
    -o-background-origin: content-box;
    -webkit-background-origin: content;
    background-origin: content-box;
    -moz-background-clip: content;
    -o-background-clip: content-box;
    -webkit-background-clip: content;
    background-clip: content-box;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p547@dm/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  .global .dm_layout:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 44, ../sass/layouts/_default.scss */
  .global .dm_layout_left {
    width: 48.98785%;
    float: left;
    margin-right: 2.02429%;
  }
  /* line 47, ../sass/layouts/_default.scss */
  .global .dm_layout_right {
    width: 48.98785%;
    float: right;
    margin-right: 0;
  }
}

/* No files to import found in pages/* */
